html, body{
  background: #7990ec;  /*For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #7990ec,#5273f5,#2C405B, #161622);   /*For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #7990ec,#5273f5,#2C405B, #161622); /*For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #7990ec,#5273f5,#2C405B, #161622); /*For Firefox 3.6 to 15 */
  background: linear-gradient(top, #7990ec,#5273f5,#2C405B, #161622); /*Standard syntax (must be last) */
  font-family: 'Open Sans', sans-serif;
}

h1, h2, .h2{
  font-family: 'Open Sans', sans-serif;
}
div,p, button{
  font-family: 'Raleway', sans-serif;
}

.text-color{
  color: inherit;
}
.text-color.white{
  color: rgb(255,255,255);
}
.text-align{
  text-align: left;
}
.text-align.right{
  text-align: right;
}
.text-align.justify{
  text-align: justify;
}
.text-align.center{
  text-align: center;
}
/*.h1{
  font-size:36px !important;
}*/

/*bootstrap jumbotron edit*/
.col-sm-12 .jumbotron {
    padding-top: 82px;
}

.list-unstyled.contact-list li{
  margin-top:10px;
}
#myCanvas{
  position: absolute;
}
.angular-google-map-container { height: 400px; }

#particles-js {
  border: 1px #CCC solid;
  position: absolute;
  top:82px;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.alert.alert-jumbotron{
  padding: 30px;
 }

.alert.alert-jumbotron h1{
  font-size:63px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.alert.alert-jumbotron p{
  font-size: 21px;
  font-weight:200;
  margin-bottom:15px;
}